/* main */

body{
background-color: #f5deb3;
font-weight: bolder;
}
footer{
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #b1ffdc;
  border-radius: 20px;
  box-shadow: 0 0 0 5px #e0ffff, 0 0 0  12px #b1ffdc;
}
/* ho */
.ho_body{
  list-style-type: none;
  text-decoration: none;
  font-family:sans-serif;
  text-align: center;
}
.ho_re_ul{
  text-decoration: none;
  font-size: 20px;
}
.ho_re_bx{
  list-style-type: none;
  color: #ffc3e7;
  background-color: #ffe8f9;
  border-radius:35px;
  padding: 15px;
  margin: 20px auto;
  height: 160px;
  width: 70%;
  box-shadow: 0 0 0 6px #ffc3e7, 0 0 0 15px #ffe8f9;
}
.ho_re_ti{
  font-size: 40px;
}
.ho_re{
  text-align: center;
}
.ho_re_li{
  background-color: #ffc3e7;
  font-size: 15px;
  margin-top: 20px;
  padding-right: 30px;
  list-style-type: none;
}
.ho_sr_bx{
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 25px 10px;
  margin: 25px auto;
  font-size: 20px;
  box-shadow: 0 0 0 7px #c0c0c0;
  height: 80px;
  width: 50%;
}
.ho_sr{
  padding: 30px;
}
.ho_sr_in{
  color: #c0c0c0;
  text-decoration: none;
}
.ho_sr_co{
  list-style-type: none;
  padding: 10px auto;
}
.ho_sr_li{
  background-color: #c0c0c0;
  color: #f5f5f5;
  font-size: 15px;
  margin-top: 20px;
  padding-right: 30px;
  text-align: right;
  list-style-type: none;
}
.ho_pt_tx{
  font-size: 20px;
  display: inline-block;
}
/*rs*/
.rs_fo_na{
 background-color: #2e8b57;
 border: none;
}
.rs_fo_ms{
  font-size: 20px;
  color: green;
  background-color: #f4ffb5;
  border-radius: 10px;
  border: none;
  width: 80%;
  height: 40px;
}
